.hide {
  display: none;
}

.contacts-list {
  width: 100%;
  margin: 0;
  padding: 0;
}
.contact-list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.contact-avatar {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.contact-details {
  overflow: hidden;
  border-left: 1px solid #eee;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.contact-details p{
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-remove {
  padding-left: 10px;
  width: 32px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  align-self: center;
  cursor:pointer;
}

/* create contact */

.create-contact-form {
  max-width: 320px;
  margin:  0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.create-contact-avatar-input {
  height: 60px;
  width: 60px;
  border: 1px solid #000;
  border-radius: 50%;
  background-image: url(./icons/person.svg);
  background-color: #fff;
  background-position: center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.create-contact-details input {
  display: block;

}
